# Terraform
.terraform/
*.tfstate
*.tfstate.*
*.tfplan
crash.log
override.tf
override.tf.json
*_override.tf
*.auto.tfvars
terraform.tfvars
# Bicep / ARM build output
*.json.bak
# Local
.env
.DS_Store
tfplan
