{
  "$schema": "https://raw.githubusercontent.com/Azure/Azure-Landing-Zones-Library/main/schemas/architecture_definition.json",
  "name": "alz_custom",
  "management_groups": [
    {
      "id": "${prefix}",
      "display_name": "Azure Landing Zones",
      "archetypes": [
        "root"
      ],
      "exists": false,
      "parent_id": null
    },
    {
      "id": "${prefix}-platform",
      "display_name": "Platform",
      "archetypes": [
        "platform"
      ],
      "exists": false,
      "parent_id": "${prefix}"
    },
    {
      "id": "${prefix}-security",
      "display_name": "Security",
      "archetypes": [
        "security"
      ],
      "exists": false,
      "parent_id": "${prefix}-platform"
    },
    {
      "id": "${prefix}-management",
      "display_name": "Management",
      "archetypes": [
        "management"
      ],
      "exists": false,
      "parent_id": "${prefix}-platform"
    },
    {
      "id": "${prefix}-identity",
      "display_name": "Identity",
      "archetypes": [
        "identity"
      ],
      "exists": false,
      "parent_id": "${prefix}-platform"
    },
    {
      "id": "${prefix}-connectivity",
      "display_name": "Connectivity",
      "archetypes": [
        "connectivity"
      ],
      "exists": false,
      "parent_id": "${prefix}-platform"
    },
    {
      "id": "${prefix}-landingzones",
      "display_name": "Landing zones",
      "archetypes": [
        "landing_zones"
      ],
      "exists": false,
      "parent_id": "${prefix}"
    },
    {
      "id": "${prefix}-corp",
      "display_name": "Corp",
      "archetypes": [
        "corp"
      ],
      "exists": false,
      "parent_id": "${prefix}-landingzones"
    },
    {
      "id": "${prefix}-online",
      "display_name": "Online",
      "archetypes": [
        "online"
      ],
      "exists": false,
      "parent_id": "${prefix}-landingzones"
    },
    {
      "id": "${prefix}-local",
      "display_name": "Local",
      "archetypes": [
        "local"
      ],
      "exists": false,
      "parent_id": "${prefix}-landingzones"
    },
    {
      "id": "${prefix}-sandbox",
      "display_name": "Sandbox",
      "archetypes": [
        "sandbox"
      ],
      "exists": false,
      "parent_id": "${prefix}"
    },
    {
      "id": "${prefix}-decommissioned",
      "display_name": "Decommissioned",
      "archetypes": [
        "decommissioned"
      ],
      "exists": false,
      "parent_id": "${prefix}"
    }
  ]
}
